<mat-toolbar color="primary" class="toolbar">
  <span class="title">Smart Irrigation</span>
  <span class="spacer"></span>

  <div class="toolbar-button-wrapper" *ngFor="let key of ['createField', 'waterPump', 'toggleSensors', 'toggleIrrigation', 'logout']">
    <button mat-icon-button
            (click)="emit(key)"
            (mouseenter)="hoveredButton = key"
            (mouseleave)="hoveredButton = null">
      <mat-icon>
        {{ key === 'createField' ? 'add_location_alt' :
          key === 'waterPump' ? 'water' :
            key === 'toggleSensors' ? 'sensors' :
              key === 'toggleIrrigation' ? 'opacity' : 'logout' }}
      </mat-icon>
    </button>
    <div *ngIf="hoveredButton === key" class="info-text">
      {{ infoMessages[key] }}
    </div>
  </div>
</mat-toolbar>
