<mat-toolbar color="primary" class="toolbar">
  <span class="title">RootCare</span>
  <span class="spacer"></span>

  <div class="toolbar-button-wrapper" *ngFor="let key of ['createField', 'waterPump', 'toggleSensors', 'toggleIrrigation', 'logout']">
    <button mat-icon-button
            (click)="emit(key)"
            (mouseenter)="hoveredButton = key"
            (mouseleave)="hoveredButton = null">
      <ng-container [ngSwitch]="key">
        <mat-icon *ngSwitchCase="'createField'">add_location_alt</mat-icon>
        <mat-icon *ngSwitchCase="'toggleSensors'">sensors</mat-icon>
        <mat-icon *ngSwitchCase="'toggleIrrigation'">opacity</mat-icon>
        <mat-icon *ngSwitchCase="'logout'">logout</mat-icon>
        <mat-icon *ngSwitchCase="'waterPump'" fontSet="material-symbols-outlined">water_pump</mat-icon>
      </ng-container>
    </button>
    <div *ngIf="hoveredButton === key" class="info-text">
      {{ infoMessages[key] }}
    </div>
  </div>
</mat-toolbar>
